@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;


.rooms-page{
    @extend .format-padding;
    background-color: $color-black;
    min-height: 90vh;
    padding-top: 16px;

    &__line-break{
        display: none;
        border: 2px solid $color-attention;
        border-radius: 20px;

        @include tablet{
            display: block;
        }
    }
}