@use "./variables" as *;
@use "./mixins" as *;

@include blank-slate-styling;

@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/AvenirNextLTPro.ttf') format('truetype');
    src: url('/assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/AvenirNextLTProDemi.ttf') format('truetype');
    src: url('/assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/AvenirNextLTProBold.ttf') format('truetype');
    src: url('/assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: 700;
}

.page-header{
    font-size: 24px;
    line-height: 2rem;
    font-family: 'Avenir', Arial, sans-serif;
    font-weight: 700;

    @include tablet{
        font-size: 33px;
        line-height: 2.75rem;
        font-family: 'Avenir', Arial, sans-serif;
        font-weight: 700;
    }
}

.section-header{
    font-size: 16px;
    line-height: 1.25rem;
    font-family: 'Avenir', Arial, sans-serif;
    font-weight: 700;

    @include tablet{
        font-size: 22px;
        line-height: 1.25rem;
        font-family: 'Avenir', Arial, sans-serif;
        font-weight: 700;
    }
}

.subheader{
    font-size: 14px;
    line-height: 1.125rem;
    font-family: 'Avenir', Arial, sans-serif;
    font-weight: 700;

    @include tablet{
        font-size: 18px;
        line-height: 1.375rem;
        font-family: 'Avenir', Arial, sans-serif;
        font-weight: 700;
    }
}

.body-copy{
    font-size: 14px;
    line-height: 1.125rem;
    font-family: 'Avenir', Arial, sans-serif;
    font-weight: 400;
    
    @include tablet{
        font-size: 16px;
        line-height: 1.375rem;
        font-family: 'Avenir', Arial, sans-serif;
        font-weight: 400;
    }
}


.label{
    font-size: 14px;
    line-height: 1.25rem;
    font-family: 'Avenir', Arial, sans-serif;
    font-weight: 500;    
    
    @include tablet{
    font-size: 16px;
    line-height: 1.25rem;
    font-family: 'Avenir', Arial, sans-serif;
    font-weight: 500;
    }
}

.button{
    @extend .label;
    font-size: 0.8125rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    padding: 0 2rem;
    background-color: blue;
    color: white;
    border: 0.0625rem solid blue;
    width: 100%;
    position: relative;
    text-transform: uppercase;
    @include tablet{
        min-width:9.375rem;
        width: 10%;
    }

    &:hover{
        background-color: darkblue;
        border: 0.0625rem solid darkblue;
    }
}

.icon-image{
    position: absolute;
    left: 0.9375rem;
    top: 25%;
    height: 50%;
    width:fit-content;
}

.format-margin{
    margin: 0 1rem;    

    @include tablet {
        margin: 0 2.25rem;
    }

    @include desktop {
        margin: 0 10vw;
    }    
}

.format-padding{
    padding: 0 1rem;    

    @include tablet {
        padding: 0 2.25rem;
    }

    @include desktop {
        padding: 0 10vw;
    }    
}

.loading-data{
    @extend .subheader;
    
}

.form-input-field{
    background-color: white;

    width: 100%;
    min-height: 2.25rem;
    border-radius: 0.25rem;
    padding: 0.75rem;
    
    border: 0.0625rem solid white;
    @extend .body-copy;

    &::placeholder{
        color: black;
        @extend .body-copy;
    }

    &:focus{
        border-color: blue;
    }

    &:user-invalid{
        border-color: $color-error;
    }

    @include tablet{
        padding: 0.5rem;
    }
}