@use "./variables" as *;

@mixin mobile-only{
    @media (max-width: 767px){
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px){
        @content;
    }
}

@mixin tablet-only{
    @media (min-width: 768px) and (max-width: 1279px){
        @content;        
    }
}

@mixin desktop {
    @media (min-width: 1280px){
        @content;
    }
}

@mixin blank-slate-styling{
    * {
        box-sizing: border-box;
    }
      
    body {
        margin: 0;
        padding: 0;
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
    
        /* Hide scrollbar for IE, Edge and Firefox */
        & {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }
    
    a {
        color: unset;
        text-decoration: unset;
        padding: 0;
        margin: 0;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    img {
        display: block;
        width: 100%;
    }
    
    p, h1, h2, h3, h4, h5, h6, li {
        margin: 0;
        padding: 0;
        font-weight: unset;
        font-size: unset;
    }

    textarea:focus, input:focus{
        outline: none;
    }

    button{
        outline: none;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
    }

    fieldset{
        border: none;
        margin: 0;
        padding: 0;
    }
}