$color-black: #161616;
$color-red: #6C1F1B;
$color-light-red: #9A3A2E;
$color-dark-red: #411614;

$color-primary-silver: #afafaf;
$color-eggshell: #F2F2EA;
$color-secondary-dark-blue: #0065ad;
$color-secondary-mercury: #e1e1e1;
$color-secondary-alabaster: #fafafa;

$color-error: #D22D2D;