$color-black: #161616;
$color-red: #6C1F1B;
$color-light-red: #9A3A2E;
$color-dark-red: #411614;
$color-attention: #FDAD15;
$color-eggshell: #F2F2EA;
$color-secondary-mercury: #e1e1e1;
$color-text-light: white;
$color-text-dark: black;
$color-light-shade: #F2F2EA;
$color-light-accent: #F2F2EA;
$color-light-primary: #F2F2EA;
$color-dark-primary: #99291E;
$color-dark-accent: #661C14;
$color-dark-shade: #161616;
$color-error: #e41717;
$color-link: #008cff;