$color-primary-black: #323232;
$color-primary-blue: #0095ff;
$color-primary-silver: #afafaf;
$color-primary-white: #ffffff;
$color-secondary-dark-black: #000000;
$color-secondary-dark-blue: #0065ad;
$color-secondary-mercury: #e1e1e1;
$color-secondary-alabaster: #fafafa;

$color-error: #D22D2D;