@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.star-rating{
    display: flex;
    &__icon{
        width: 16px;
        
        @include tablet{
            width: 18px;
        }
        @include desktop{
            width: 24px;
        }
    }
}