@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.star-rating{
    display: flex;
    &__icon{
        max-width: 16px;
        
        width: 20%;
        @include tablet{
            max-width: 24px;
        }
    }
}