@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.table-item-tablet-plus{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 36px;
    
    &:nth-child(even){
        background-color: $color-eggshell;
    }

    &:nth-child(odd){
        background-color: $color-secondary-mercury;
    }

    &:hover{
        overflow: hidden;
        outline: 1px solid $color-black;
        filter: brightness(120%);
        cursor: pointer;
    }
    &:active{
        color: $color-black;
        background-color: $color-eggshell;
    }
    
    &__label{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        flex: 1;

        .table-item-tablet-plus__text{

        }
    }

    & .theme-label{
        padding: 2px;
        display: flex;
        justify-content: center;
    }

    & .fav-label{
        justify-content: center;
        flex: 0.5;
    }
    
    & .rating-label{
        display: flex;
        justify-content: center;
        flex: 1.2;
    }

    & .completion-label{
        display: flex;
        flex: 0.8;
        margin-right: 4px;
        justify-content: center;
        align-items: center;
    }
}