@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;


.room-overview{
    display: none;
    background-color: $color-eggshell;
    border-radius: 8px;

    @include tablet{
        display: flex;
    }

    .details-link{
        min-width: 180px;
        padding: 16px 0 16px 16px;
        gap:8px;
        &__icon{
            max-width: 24px;
        }
        &__text{
            display: flex;
            width: 100%;
            position: relative;
            text-transform: uppercase;
            align-items: center;
            justify-content: center;
            background-color: #9A3A2E;
            border-radius: 6px;
            padding: 8px 8px;
            color: #F2F2EA;
        }

        &__thumbnail{
            max-width: 180px;
            margin-top: 8px;
        }
    }

    .selected-info{
        padding: 16px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        gap: 8px;

        &__top-section{
            display: flex;
            gap: 8px;
            .selected-info__name{
                display: flex;
                flex: 1;
                align-items: flex-end;
                @extend .section-header;
                font-size: 18px;
            }
        }

        &__description-text{
            @extend .body-copy;
            border: 1px solid $color-black;
            background-color: $color-light-shade;
            padding: 8px;
            min-height: 100px;
            border-radius: 6px;
            flex-grow: 1;
        }

        &__bottom-section{
            display: flex;
            justify-content: space-between;
            padding: 0 8px;

            .selected-info__website-link{
                display: flex;
                color: $color-link;
            }
            
            .selected-info__share-link{
                display: flex;

                &--icon{
                    width: 20px;
                    margin-right: 8px;
                }
            }
        }
    }
}