@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.comment-entry__container{
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    

    .comment-entry{
        display: flex;
        position: relative;
        background-color: $color-light-shade;
        border-radius: 8px;
        padding: 16px 8px;

        &__comment-container{
            display: flex;
            flex-direction: column;
            width: 100%;
            @extend .body-copy;
            
            color: $color-text-dark;
            
            .comment-entry__info{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                
                .comment-entry__name{
                    padding-bottom: 0.5rem;
                    font-weight: 600;
                }

                .comment-entry__timestamp{
                    color: $color-text-dark;
                }
            }
            .comment-entry__comment{
                @extend .body-copy;
                .comment-entry__text{

                }
            }
        }
    }
}