@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.comment-entry__container{
    display: flex;
    flex-direction: column;

    .comment-entry{
        display: flex;
        position: relative;
        border-bottom: 0.0625rem $color-eggshell solid;
        padding: 1rem 0;
        @include desktop{
            padding: 1.5rem 1.5rem 1.5rem 0;
            border-bottom: none;
            border-top: 0.0625rem $color-black solid;
        }

        &__profile-picture{
            display: flex;
            margin-right: 1rem;
            @include desktop{
                margin-right: 1.5rem;
            }
        }

        &__comment-container{
            display: flex;
            flex-direction: column;
            width: 100%;
            @extend .body-copy;
            
            color: $color-black;
            
            .comment-entry__info{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                
                .comment-entry__name{
                    padding-bottom: 0.5rem;
                    font-weight: 600;
                }

                .comment-entry__timestamp{
                    color: $color-eggshell;
                }
            }
            .comment-entry__comment{
                @extend .body-copy;
                .comment-entry__text{

                }
            }
        }
    }
}